* {
  box-sizing: border-box;
}

@@font-face {
  font-family: montserrat-light;
  src: "assets/Montserrat-Light.ttf"
}

body {
  font-family: montserrat-light;
  paddding: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #f8e4df;
  padding: 0px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dbdbdb;
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}
.image-2 {
  width: 100%;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #f8e4df;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  font-family: montserrat-light;
}
.header {
  padding: 55px;
  text-align: center;
  background: #f8e4df;
  color: black;
  font-size: 26px;
  font-family: montserrat-thin;
  font-style: normal;
}

.headline {
  background-color: #f8e4df;
  color: black;
  font-size: 24px;
  padding-top: 32px;
  font-family: montserrat-light;
  font-weight: bold;
  }

.headline-2 {
  background-color: #f8e4df;
  color: black;
  font-size: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right:16px;
  font-family: montserrat-light;
  text-align: center;
}

.headline-3 {
  background-color: #f8e4df;
  color: black;
  font-size: 38px;
  font-family: montserrat-light;
  text-align: center;
  font-weight: bold;
  letter-spacing: 6.8px;
}

.copy {
  background-color: #f8e4df;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  padding-bottom: 32px;
  font-family: montserrat-light;
  line-height: 25px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  padding-bottom: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-style: montserrat-light;
  font-size: 12px;
  font-weight: bolder;
  text-align: left;

}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
